.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	width: 100%;
	max-width: 1250px;
	padding-bottom: 2rem;
}

.page header {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

main {
	display: flex;
	justify-content: center;
	width: 100%;
}

form {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

input[name="query"] {
	padding: 8px 16px;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 1rem;
}

input[type="checkbox"] {
	/*Make the checkbox bigger  */
	transform: scale(1.2);
	/* IE */
	-ms-transform: scale(1.2);
}

button[type="submit"] {
	padding: 5px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button[type="submit"]:hover {
	border-color: rgb(50, 165, 50);
	color: rgb(50, 165, 50);
}

.movies {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	width: 100%;
	gap: 60px;
}

.movie {
	text-align: center;
	height: 500px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.movie h3,
.movie p {
	margin: 0;
}

.movie img {
	border-radius: 8px;
	margin-top: 16px;
	max-width: 250px;
	min-width: 250px;
	max-height: 400px;
	min-height: 400px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}